<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
    
    <!-- write logs to file -->
    <target name="file"
            xsi:type="File"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception}|${exception:stacktrace}"
            fileName="${basedir}/logs/${shortdate}.log"
            encoding="UTF-8"
            archiveFileName="${basedir}/logs/archives/archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            header="[Start Logging]"
            footer="[End Logging]${newline}"
    />

    <!-- database target -->
    <target name="database"
            xsi:type="Database">
      <commandText>
        INSERT INTO DBO.LOGS(DATE,LEVEL,MESSAGE,MACHINE_NAME, USER_NAME, CALL_SITE, THREADID, LOG_EXCEPTION, STACKTRACE) VALUES(@TIME_STAMP, @LEVEL, @MESSAGE,@MACHINENAME, @USER_NAME, @CALL_SITE, @THREADID, @LOG_EXCEPTION, @STACKTRACE);
      </commandText>
      <connectionString>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=JWDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</connectionString>

      <parameter name="@TIME_STAMP" layout="${longdate}"/>
      <parameter name="@LEVEL" layout="${level}"/>fhg
      <parameter name="@MESSAGE" layout="${message}"/>
      <parameter name="@MACHINENAME" layout="${machinename}"/>
      <parameter name="@USER_NAME" layout="NeonCore.WebAPI"/>
      <parameter name="@CALL_SITE" layout="${callsite:filename=true}"/>
      <parameter name="@THREADID" layout="${threadid}"/>
      <parameter name="@LOG_EXCEPTION" layout="${exception}"/>
      <parameter name="@STACKTRACE" layout="${exception:stacktrace}"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />

    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger levels="Error,Warn,Fatal" name="databaseLogger" writeTo="database" />
  </rules>
</nlog>